<h1>Our Discounts</h1>
<hr>
<h2>Current Discounts:</h2>
<% @discounts.each do |discount| %>
  <p><%= discount.title %></p>
    <li><%= link_to "Edit Discount", "/merchant/bulk_discounts/#{discount.id}/edit" %></li>
    <p><%= link_to "Delete Discount", "/merchant/bulk_discounts/#{discount.id}/delete", method: :delete %></p>
    
<% end %>
<hr>
<p><%= link_to "Create New Discount", "/merchant/bulk_discounts/new" %></p>
<hr>
