<h1 align = "center">Users</h1>
<div id="users">
  <% @users.each do |user| %>
    <section id="user-<%= user.id %>"
      <h2><%=link_to user.name, "/admin/users/#{user.id}"%></h2>
      <h4>Created: <%= user.created_at.strftime("%m-%d-%Y") %></h4>
      <h4>Role: <%= user.role.capitalize %></h4>
    </section>
  <% end %>
</div>
